<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="OnlineShopDB" connectionString="Server=localhost;Database=OnlineShopDB;Uid=root;Pwd=123456;CharSet=utf8mb4;SslMode=none;AllowUserVariables=True;" providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>

	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
	</appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.8.1"/>
		<httpRuntime targetFramework="4.8.1" maxRequestLength="10240" executionTimeout="3600"/>
		<pages controlRenderingCompatibilityVersion="4.0"/>
		<sessionState mode="InProc" timeout="120"/>
		<customErrors mode="Off"/>
	</system.web>

	<system.webServer>
		<defaultDocument>
			<files>
				<add value="Default.aspx"/>
			</files>
		</defaultDocument>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="10485760"/>
			</requestFiltering>
		</security>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
